asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
cffi==1.11.5
constantly==15.1.0
cryptography==2.1.4
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
klein==17.10.0
pkg-resources==0.0.0
pyasn1==0.4.2
pycparser==2.18
six==1.11.0
Twisted==17.9.0
txwerewolves==0.5.2
Werkzeug==0.14.1
zope.interface==4.4.3
